################################################################################
# This .gitignore file is created to ignore some files and folder o commit
################################################################################
/node_modules